<!-- Footer -->
<div class="footer footer--dark">
  <div class="container">
    <div class="footer__inner">
      <a href="/" class="footer__imageLogo" alt="Logo for {{ .Site.Title }}">
        <img src="/images/logo-large.svg">
      </a>
      <div class="footer__data">
        <div class="footer__data__item">
          <b>Contact</b>
          <p><a href="https://goo.gl/maps/GoRK7uKW58M2">8341 Kowaliga Road <br> Eclectic, AL 36024 <br></a> <a href="tel:3344582633">334-458-2633</a></p>
        </div>
        <div class="footer__data__item">
          <div class="footer__row">
            <b>Monday - Thurdsay</b>
            <p>8:00 AM - 12:00 PM | 2:00 PM - 5:30 PM</p>
          </div>
          <div class="footer__row">
            <b>Friday</b>
            <p>8:00 AM - 12:00 PM</p>
          </div>
          <div class="footer__row">
              <b>Saturday - Sunday </b>
              <p>Closed</p>
            </div>
        </div>
        <div class="footer__data__item">
        <b>Connect</b>
        <p></p>
        {{ with .Site.Params.facebook }}
        <div class="footer__row">
          <a href="{{ . }}" target="_blank" class="footer__link">Facebook</a>
        </div>
        {{ end }}
        {{ with .Site.Params.instagram }}
        <div class="footer__row">
          <a href="{{ . }}" target="_blank" class="footer__link">Instagram</a>
        </div>
        {{ end }}
        {{ with .Site.Params.email }}
        <div class="footer__row">
          <a href="mailto:{{ . }}" target="_blank" class="footer__link">Email</a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>