<!-- Hero unit -->
{{ if .Params.image }}
{{ $image := (resources.Get .Params.image).Fill "2000x1168" }}
<div class="page__header" style="background-image:url({{ $image.RelPermalink }});">
{{ else }}

<div class="page__header" style="background-image:url();">
{{ end }}
  <div class="hero__overlay hero__overlay--gradient"></div>
  <div class="page__header__inner">
    <div class="container">
      <div class="page__header__content fade-in">
        <div class="page__header__content__inner" id='navConverter'>
          <h1 class="page__header__title">{{ .Title }}</h1>
          {{ with .Params.subtitle }}
          <p class="page__header__text">{{ . }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>

