<!-- Hero unit -->
<div class="page__header" style="background-image:url(/{{ .Params.image }});">
  <div class="hero__overlay hero__overlay--gradient"></div>
  <div class="page__header__inner">
    <div class="container">
      <div class="page__header__content">
        <div class="page__header__content__inner" id='navConverter'>
          <h1 class="page__header__title">{{ .Title }}</h1>
          {{ with .Params.subtitle }}
          <p class="page__header__text">{{ . }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>

