<!-- Expanded section -->
<div class="expanded landing__section">
  <div class="container">
    <div class="expanded__inner">
      <div class="expanded__media">
        {{ $image := resources.Get .Params.image }}
        {{ if in $image.MediaType.Suffixes "svg" }}
          <img src="{{ $image.RelPermalink }}" class="expanded__image" alt="">
          {{ else }}
          {{ $imagecropped := $image.Fill "600x600 center" }}
          <img src="{{ $imagecropped.RelPermalink }}" class="expanded__image rounded" alt="">
        {{ end }}
      </div>
      <div class="expanded__content">
        {{- with .Params.heading -}}
        <h2 class="expanded__title">{{ markdownify . }}</h2>
        {{ end }}
        {{- with .Params.content -}}
        <div class="expanded__text">{{ markdownify . }}</div>
        {{ end }}
        {{- with .Params.button_url -}}
				<p><a href="{{ . }}" class="button button__accent">{{ $.Params.button_text }}</a></p>
				{{ end }}
      </div>
    </div>
  </div>
</div>
