<div id="steps" class="steps reviews">
		<div class="container">
			<div class="center">
				<h2>Our Reviews</h2>
			</div>  
			<div class="text-container center-element">

			</div>
		</div>
		<div class="container">
			<div class="steps__inner">
          {{ with .Site.GetPage "section" "reviews" }}
          {{ range .Data.Pages }}
					<div class="step">
						<div class="step__media">
						</div>
						{{- with .Params.name -}}
						<h3>{{ . }}</h3>
						{{ end }}
						<div class="step__text">{{ markdownify .Content }}</div>
					</div>
        {{ end }}
        {{ end }}
			</div>
		</div>
	</div>