  <!-- Steps -->
  <div id="steps" class="steps landing__section">
		<div class="container">
			{{- with .Params.heading -}}
			<h2>{{ markdownify . }}</h2>
			{{ end }}
      {{- with .Params.content -}}
      <p>{{ markdownify . }}</p>
      {{ end }}
		</div>
		{{- if .Params.items -}}
		<div class="container">
			<div class="steps__inner">
				{{ range .Params.items }}
					<div class="step">
						<div class="step__media">
							{{ $image := resources.Get .image }}
							{{ if in $image.MediaType.Suffixes "svg" }}
								<img src="{{ $image.RelPermalink }}" class="step__image" alt="">
							{{ else }}
								{{ $imagecropped := $image.Fill "600x600 center" }}
								<img src="{{ $imagecropped.RelPermalink }}" class="step__image rounded" alt="">

							{{ end }}

						</div>

						<h4>{{ .name }}</h4>
						<p class="step__text">{{ .content }}</p>
					</div>
				{{ end }}
			</div>
		</div>
		{{ end }}
	</div>