<div id="steps" class="steps reviews">
  <div class="container">
    <div class="center">
      <h2>Our Reviews</h2>
    </div>  
    <div class="text-container center-element">

    </div>
		</div>
		{{- if .Params.items -}}
		<div class="container">
			<div class="steps__inner">
          {{ range .Params.items }}
					<div class="step">
						<div class="step__media">
						</div>
						{{- with .name -}}
						<h3>{{ . }}</h3>
						{{ end }}
						{{- with .content -}}
						<div class="step__text">{{ markdownify . }}</div>
						{{ end }}
					</div>
        {{ end }}
			</div>
		</div>
		{{ end }}
	</div>