{{ define "main" }}
{{ block "page-hero" . }}{{ partial "page-hero" . }}{{end}}
	<!-- Page content -->
	<div class="page">
		<div class="container">
			<div class="page__inner">
				<div class="page__menu">
					<ul class="vMenu">
						{{ $currentPage := . }}
						<li><a href="{{ .Permalink }}" class="vMenu--active">{{ .Title }}</a></li>
						{{ range .Pages }}
							<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
						{{ end }}
					</ul>
				</div>
				<div class="page__main">
					<div class="text-container">
						{{ .Content }}
					</div>
				</div>
			</div>
		</div>
	</div>

{{- range .Params.blocks -}}
{{- if eq .template "block-steps" -}}{{ partial "blocks/block-steps" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-expanded" -}}{{ partial "blocks/block-expanded" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-calltoaction" -}}{{ partial "blocks/block-calltoaction" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-content" -}}{{ partial "blocks/block-content" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-featured" -}}{{ partial "blocks/block-featured" (dict "Params" .) }}{{- end -}}
{{- end -}}

{{end}}