{{ define "main" }}
{{ block "page-hero" . }}{{ partial "page-hero" . }}{{end}}
	<!-- Page content -->
	<div class="page">
		<div class="container">
			<div class="page__inner">
				<div class="page__menu">
					<ul class="vMenu">
						<li><a href="#" class="vMenu--active">Active page</a></li>
						<li><a href="#">Second page</a></li>
						<li><a href="#">Third page</a></li>
						<li><a href="#">Fourth page</a></li>
						<li><a href="#">Fifth page</a></li>
					</ul>
				</div>
				<div class="page__main">
					<div class="text-container">
						<h3 class="page__main__title">This is the main area</h3>
						<p>Write or do whatever you want here!</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{{- range .Params.blocks -}}
{{- if eq .template "block-steps" -}}{{ partial "blocks/block-steps" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-expanded" -}}{{ partial "blocks/block-expanded" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-calltoaction" -}}{{ partial "blocks/block-calltoaction" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-content" -}}{{ partial "blocks/block-content" (dict "Params" .) }}{{- end -}}
{{- end -}}

{{end}}