{{ define "main" }}
<section class="home-banner fade-in" style="background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/{{ .Params.image }});">
  <div class="vertical">
    <div class="home-banner-content fade-in-up-slow">
      <div class="container">
        <img src="/images/logo-large.svg" class="home-banner-logo" alt="{{ .Title }}">
      </div>
    </div>
  </div>
</section>
<div class="page">
{{- range .Params.blocks -}}
{{- if eq .template "block-image" -}}{{ partial "blocks/block-image" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-feature" -}}{{ partial "blocks/block-feature" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-content" -}}{{ partial "blocks/block-content" (dict "Params" .) }}{{- end -}}
{{- end -}}
</div>
{{ block "contact" . }}{{ partial "site/contact.html" . }}{{ end }}
{{ end }}