.steps{
	padding: 16pt 0;
}

.steps__inner{
	@include desktop{
		display: flex;
		justify-content: space-around;
	}
}

.step{
	padding: 16pt 0;
	text-align: center;
	width: 100%;
	border-top: 1px solid $line;
	overflow: auto; 

	&:first-child{
		border-top: none;
		
	}

	@include desktop{
		border-top: none;
		width: auto;
	}
}

.step__media{
	margin: 16pt 0;
	position: relative;
	@include desktop{
		margin: 32pt 0;
	}
}

.step__overlay{
	position: absolute;
	height: 40vh;
	width: 40vh;
	margin: 0 auto;
	top: 0;
	left: 0;
	opacity: $hero-color-opacity;
	z-index: 1;
	background-color: $primary;
	@include tablet{
		max-width:none;
	}
}

.step__svg{
	height: 30vh;
	@include noDragging;

	@include tablet{
		max-width:none;
	}
}

.step__image{
	height: 40vh;
	@include noDragging;

	@include tablet{
		max-width:none;
	}
}

.step__text{
	max-width: 36ch;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
