{{ define "main" }}

{{ block "hero" . }}{{ partial "hero" . }}{{end}}

{{- range .Params.blocks -}}
{{- if eq .template "block-steps" -}}{{ partial "blocks/block-steps" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-expanded" -}}{{ partial "blocks/block-expanded" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-calltoaction" -}}{{ partial "blocks/block-calltoaction" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-content" -}}{{ partial "blocks/block-content" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-featured" -}}{{ partial "blocks/block-featured" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-reviews" -}}{{ partial "blocks/block-reviews" (dict "Params" .) }}{{- end -}}
{{- end -}}


{{end}}
